input {
    margin: 8px auto;
}

[name="send"]:active {
    animation-name: scale;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}

@keyframes scale {
    50% {
        transform: scale(.9);
    }
}