header {
    position: fixed;
    background-color: white;
    width: 100%;
    margin-top: -9px;
}

    .h1 {
        text-align: center;
    }

    .ul {
        list-style: none;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
    }
     li {
         padding: 10px;
     }
         a {
             text-decoration: none;
         }

main {
    width: 80%;
    margin: auto;
    padding-top: 15vw;
}

