header {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}
    section {
        text-align: center;
    }
        table {
            padding: 20px;
            width: 100%;
        }
            th, td {
                border: 1px solid black;
            }
                
            .recreo {
                text-align: center;
            }